.exe-container{
  position: relative;
  margin: 1em 0;

  pre{
    border: 1px solid #ccc;
    margin: 0 !important;
  }
}

.exe-btn{
  padding: 5px;
  background-color: #555;
  color: #eee;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.exe-console{
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #000;
  padding: .5em;
  font-size: 13px;
  display: none;

  span{
    color: #367CF1;
    margin-right: 10px;
  }
}
