@import "compass/reset";
@import "compass/css3/box";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";

@font-face {
  font-family: Chunkfive; src: url('Chunkfive.otf');
}

html, body{
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  font-family: "Oswald",Helvetica,sans-serif;
  background-color: black;
}

.slide_container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  section{
    width: 100%;
    height: 100%;
    background-color: #969DA6;
    color: white;
    position: absolute;

    &.prev{
      @include transform(translateX(-100%));
    }

    &.curr{
      @include transform(translateX(0));
    }

    &.next{
      @include transform(translateX(100%));
    }

    .slide_content{
      width: 640px;
      height: 480px;
      padding: 30px 20px;
      margin: 0 auto;
      line-height: 1.5em;
      font-size: 24px;
      @include box-sizing(border-box);
    }

    h1{
      font-size: 48px;
      margin-bottom: 30px;
      letter-spacing: 0.02em;
      text-align: center;
      @include text-shadow(0px 0px 6px rgba(0,0,0,0.2));
    }

    ul{
      list-style-type: disc;

      li{
        margin-bottom: 20px;
      }
    }

    .exe-container{
      font-family: monospace;
      line-height: 1.5em;
      width: 300px;
      margin: 0 auto;
      font-size: 18px;
    }
  }
}
