<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="harmonide.css">
  <link rel="stylesheet" href="exe.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
</head>
<body>
  <div id="presentation" class="slide_container">
    <% slides.forEach(function(slide){ %>
      <section class="<%= slide.className %>" style="<%= slide.style %>">
        <div class="slide">
          <div class="slide_content">
            <%- slide.content %>
          </div>
        </div>
      </section>
    <% }); %>
  </div>
  <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
  <script src="harmonide.js"></script>
  <script src="exe.js"></script>
  <script>
    exe.init(function(){
      var codeElems = document.querySelectorAll('pre code');
      for(var i = 0, len = codeElems.length; i < len; i++){
        hljs.highlightBlock(codeElems[i]);
      }
    });
  </script>
</body>
</html>
