<!DOCTYPE>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="presentation" class="slide_container">
    <% slides.forEach(function(slide){ %>
      <section>
        <div class="slide_content">
          <%- slide.content %>
        </div>
      </section>
    <% }); %>
  </div>
  <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
  <script src="main.js"></script>
</body>
</html>
